* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none
}

h1 {
    font-size: 30px;
}

body {
    background: white;
    font-family: 'Roboto', sans-serif;
}

input {
    width: 100%;
    border: 3px solid lightgray;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.container {
    max-width: 300px;
    text-align: center;
    margin: 100px auto;
}

ul {
    text-align: left;
    padding-top: 10px;
    list-style-type: none;

}

ul li {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 2px 2px;
    border-bottom: 1px solid lightgray;
}

#user-input {
    margin-bottom: 3px;;
    display: flex;
    gap: 10px;
}

button {
    background: rgb(60, 60, 60);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.error {
    font-weight: 500;
    font-size: .9rem;
    color: red;
}

.empty {
    font-weight: 500;
    font-size: .9rem;
    color: green;
}

.capitalize::first-letter {
    text-transform: capitalize;
}

.active {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.wrapper {
    height: 60px;
}